.header::after
{
    content: '';
    clear: both;
    display: table;
}  

.header{
    display: flex;
    flex-direction: row;
    flex: auto;
    margin-bottom: 35px;

}

.header-buttons {
       justify-content: flex-end;
       gap: 20px;
       
}

@media only screen (max-width:768px){
    
}


