.header{
    display: flex;
    flex-direction: row;
}

.header-buttons01{
    flex: 50%;
}

.header-buttons {
    flex: 1;
    flex-wrap: wrap;
    flex-grow: 100%;
}

.header-item{
    flex-basis: auto;
}