.header-mobile-menu{
    display: none;
    margin-left: 100px;
    cursor: pointer;
    background-image: url(../assets/images/icon-menu.svg);
    width: 50px;
    height: 30px;
    background-size: cover;
    background-position: center;
    
}

.icon-mobile{
    display: none;
    list-style: none;
    background-color: rgb(16, 6, 27);
}



@media only screen and (max-width:768px){
    .header-mobile-menu{
        display: block;
    }
    .header-mobile-menu + .icon-mobile{
        display: block;
    }
     .icon-mobile:hover{
    display: block;
    }
}